body {
  font-family: Arial, sans-serif;
  height: 100vh;
}
h1{
  color: #14552A;
  font-weight: bold;
  text-align: center;
}
.Haader{
  gap: 20px;
  padding: 50px 0px;
}
.container {
  display: flex;
  gap: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #14552A;
    padding: 30px 40px;
    border-radius: 20px;
    width: 380px;
    height: 450px;
}
.frame {
  width: 380px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  background-image: url("../images/framei.jpg");
  background-position: center;
  background-size: cover;
}
label{
  color: #ffffff;
}
.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.ImgFrame {
    width: 180px;
    height: 220px;
    background-color: #ddd;
    border-radius: 20px;
    position: absolute;
    bottom: 40px;
    right: 25px;
    border: 2px dashed #E40019;
}
.frame::after {
    content: "";
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 350px;
    left: 244px;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}
.name,
.batch,
.wish {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.name {
    bottom: 90px;
    left: 30px;
    font-size: 24px;
    font-weight: 800;
}
.batch {
    position: absolute;
    bottom: -98%;
    left: 89%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-radius: 50%; */
    z-index: 1;
}
.batch span {
    position: absolute;
    
    font-size: 18px;
    font-weight: bold;
}
.wish {
    bottom: 60px;
    color: #E40019;
    font-size: 18px;
    left: 30px;
    font-weight: bold;
}
