body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.container {
  display: flex;
  gap: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #14552A;
    padding: 50px 100px;
    border-radius: 20px;
}
.frame {
  width: 600px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  position: relative;
  background-image: url("../images/framee.jpg");
  background-position: center;
  background-size: cover;
}
label{
  color: #ffffff;
}
.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.ImgFrame {
    width: 280px;
    height: 320px;
    background-color: #ddd;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    right: 35px;
    border: 3px dashed #E40019;
}

.frame::after {
    content: "";
    background-image: url("../images/circlee.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 448px;
    left: 327px;
    width: 100%;
    height: 100%;
}
.name,
.batch,
.wish {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.name {
    bottom: 85px;
    left: 80px;
    font-size: 26px;
    color: #14552A;
}
.batch {
    bottom: 33px;
    right: -95px;
    z-index: 1;
}
.wish {
    bottom: 50px;
    color: #E40019;
    font-size: 20px;
    left: 80px;
    font-weight: bold;
}
